.display-container {
  margin: 40px 0 0 240px;
  .cards-list {
    max-width: 800px;
    max-height: 600px;
    overflow:scroll;
    .card {
      width: 100px;
      position: relative;
      float: left;
      border: 2px solid rgba(0, 0, 0, 0.07);
      cursor: pointer;
      text-align: center;
      margin: 2px;
      img {
        width: auto;
        height: 52px;
        margin: 0 auto;
      }
      .name {
          font-size: 12px;
          padding-bottom: 4px;
          font-weight: 400;
      }
      .price {
          font-size: 12px;
          padding-bottom: 4px;
          font-family: 'Times New Roman', Times, serif;
      }
    }
  }
}
